.album-banner {
  position: relative;
  background-image: linear-gradient(
      rgba(255, 237, 233, 0.7),
      rgba(255, 237, 233, 0.7)
    ),
    url(./imgs/noise-black.png), url(./imgs/bg-contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 7.5%;
  text-align: center;
  z-index: -2;
}
.album-banner_title {
  font-family: "iCielDownTown";
  position: relative;
  color: #6e453b;
  font-size: 40px;
  letter-spacing: 1.2px;
  z-index: 1;
}
.album-banner_title::after {
  content: "";
  background-image: url(./imgs/bottom-title.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.album-container {
  background-color: #f2e6e2;
  background-size: 100% 600px;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 5rem ;
  padding-top: 3rem;
}
.album-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("imgs/noise-black.png");
  background-size: 500px;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
}
.space-title {
  font-family: "iCielDownTown";
  font-size: 30px;
  color: #64473f;
  text-align: center;
  margin: 20px 0;
}
.space-content{
  font-family: "SFProDisplay";
  font-size: 20px;
  color: #64473f;
  text-align: center;
  margin: 20px;
  padding-bottom: 30px;
}
.album-image_space {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-full {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(3, 180px);
  grid-gap: 10px;
  max-width: 1296px;
}
.top-row {
  overflow: hidden;
}
.top-row:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}
.top-row:nth-child(2) {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}
.top-row:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.top-row:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}
.top-row:nth-child(5) {
  grid-column: 5 / 7;
  grid-row: 1 / 2; 
}

.top-row:nth-child(6) {
  grid-column: 5 / 6; 
  grid-row: 2 / 4; 
}
.top-row:nth-child(7) {
  grid-column: 6 / 7; 
  grid-row: 2 / 4; 
}
.bottom-row {   
  height: 120px;
  width: 205px;
  display: flex;
  gap: 10px;
}
.top-row img,
.bottom-row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-floor_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.album-image_floor1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(4, 180px); 
  gap: 10px; 
  max-width: 1296px;
  grid-template-areas: 
    "floor1-1 floor1-1 floor1-2 floor1-2 floor1-5 floor1-5"
    "floor1-1 floor1-1 floor1-2 floor1-2 floor1-6 floor1-7"
    "floor1-1 floor1-1 floor1-3 floor1-4 floor1-6 floor1-7"
    "floor1-8 floor1-9 .        .        .        .";
}
.floor1:first-child{
  grid-area: floor1-1;
}
.floor1:nth-child(2){
  grid-area: floor1-2;
}
.floor1:nth-child(3){
  grid-area: floor1-3;
}
.floor1:nth-child(4){
  grid-area: floor1-4;
}
.floor1:nth-child(5){
  grid-area: floor1-5;
}
.floor1:nth-child(6){
  grid-area: floor1-6;
}
.floor1:nth-child(7){
  grid-area: floor1-7;
}
.floor1:nth-child(8){
  grid-area: floor1-8;
}
.floor1:nth-child(9){
  grid-area: floor1-9;
}
.floor1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album-image_floor2 {
  display: flex;
  justify-content: center;
  align-items: center;
}