@font-face {
  font-family: "iCielDownTown";
  src: url("./fonts/iCielBCDowntown-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SF-PRO-DISPLAY-REGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplayHeavy";
  src: url("./fonts/SF-PRO-DISPLAY-HEAVY.OTF") format("opentype");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}

h1,
h2,
h3 {
  letter-spacing: 1.2px;
}
body {
  margin: 0 auto;
  font-weight: 100;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

#header {
  /* width: 100%;
  height: 58px;
  background: rgb(110, 69, 59);
  font-family: "iCielDownTown", sans-serif;
  font-size: 1.5rem;
  position: relative; */
}

#navbar {
  width: 100%;
  height: 58px;
  background: rgb(110, 69, 59);
  font-family: "iCielDownTown", sans-serif;
  font-size: 1.5rem;
  position: relative;
}

.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 170px;
}
.wrapped_nav {
  display: none;
}
.nav_icon img {
  min-height: 40px;
  height: 40px;
  cursor: pointer;
  vertical-align: middle;
}

.item_container ul {
  height: 36px;
  display: flex;
  padding: 2px 0 0 15px;
}

.nav_items {
  margin: 0px 10px;
  padding: 0px 12px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav_items:hover {
  color: #ddc5a5;
}

.nav_search {
  color: rgb(110, 69, 59);
  width: 225px;
  height: 36px;
  border: 0;
  padding: 6px 12px;
  border-color: rgb(110, 69, 59);
  border-radius: 6px;
  background-color: rgb(223, 197, 171);
  font-family: "SFProDisplay", sans-serif;
  font-size: 16px;
  outline: none;
}

.nav_lang {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_search::placeholder {
  color: #855e51;
  font-weight: 100;
}

.nav_lang a {
  font-size: 28px;
  margin-left: 10px;
  text-decoration: none;
  color: rgb(221, 197, 165);
}

.nav_lang a:hover {
  font-size: 28px;

  text-decoration: none;
  color: #ffff;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-list {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.slider-item a {
  display: inline-block;
  margin: 0 0;
}

.slider-list img {
  display: block;
  width: 100vw;
  object-fit: cover;
}

.slider-dots {
  position: absolute;
  list-style-type: none;
  display: flex;
  justify-content: center;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -20%);
  z-index: 1;
}

.slider-dots button {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: none;
  background-color: rgb(228, 205, 172);
  margin-left: 20px;
}

.slider-dots button.active {
  background-color: #6e453b;
}

.fade-out {
  opacity: 1;
  transition: opacity 500ms ease;
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease;
}

.fade-in.show {
  opacity: 1;
}

.fade-out.hide {
  opacity: 0;
}

.about-us {
  background-image: url("./imgs/bg-about-2.webp");
  background-size: 100% 950px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 5rem;
}

.about-us::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("imgs/noise-black.png");
  background-size: 500px;
  opacity: 0.3;
  z-index: 1;
}

.container {
  text-align: center;
  position: relative;
  font-family: "iCielDownTown";
  font-weight: lighter;
  color: rgb(110, 69, 59, 1);
  font-size: 1.5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  font-size: 2.5rem;
  display: inline-block;
  margin-bottom: 40px;
  z-index: 2;
}

.title img {
  width: 250px;
  height: 40px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 50%;
  z-index: 1;
  bottom: 30%;
  transform: translateX(-50%);
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.about-text {
  flex: 1;
  text-align: left;
  line-height: 1.5;
}

.about-text h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.about-text h3 {
  font-size: 14pt;
}

.about-text p {
  font-family: "SFProDisplay";
  font-size: 1rem;
  color: #212529;
  margin-bottom: 5px;
}

.about-img {
  flex: 1;
}

.about-img-slider {
  position: relative;
  width: 100%;
  height: 350px;
}

.about-img-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 0.5rem;
}

strong {
  font-weight: bold;
}

.about-img {
  position: relative;
}

.about-img .about-dots {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.cuisine {
  background-color: #f2e6e2;
  background-size: 100% 600px;
  width: 100%;
  max-width: 100vw;
  background-repeat: no-repeat;
  position: relative;
  padding: 5rem 0;
}

.cuisine::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("imgs/noise-black.png");
  background-size: 500px;
  opacity: 0.3;
  z-index: 1;
}

.cuisine-content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.cuisine-item {
  height: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.cuisine-text {
  line-height: 1.5;
}
.cuisine-text h3 {
  text-align: left;
}
.cuisine-text p {
  font-family: "SFProDisplay";
  font-weight: 100;
  font-size: 1rem;
  color: #212529;
  text-align: left;
}

.cuisine-item img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

.space {
  background-image: url("./imgs/bg-space.jpg");
  background-size: 100% 850px;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  background-repeat: no-repeat;
  position: relative;
  padding: 5rem 0;
}

.space::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("imgs/noise-black.png");
  background-size: 600px;
  opacity: 0.3;
  z-index: 1;
}

.space-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-item img {
  height: auto;
  width: 80%;
  gap: 10px;
  max-width: 600px;
}

#mid img {
  height: auto;
  width: 90%;
  max-width: 700px;
  transform: translateY(-40px);
}
.more-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  z-index: 3;
  margin-top: -40px;
}

.more-title span {
  font-size: 2rem;
  color: #e4ccac;
  display: inline-block;
  z-index: 4;
}

.more-title img {
  width: 200px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -30%;
  transform: translateX(-50%);
}

.space-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.space-container a {
  color: #e4ccac;
}

.space-container a:hover {
  color: #ffff;
}

.media {
  background-color: #f2e6e2;
  background-size: 100% 600px;
  width: 100%;
  max-width: 100vw;
  background-repeat: no-repeat;
  position: relative;
  padding: 5rem 0;
}

.media::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("imgs/noise-black.png");
  background-size: 500px;
  opacity: 0.3;
  z-index: 1;
}

.media_img {
  display: block;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  width: max-content;
  height: max-content;
}

.media_img img {
  object-fit: cover;
  width: 100%;
  max-width: 900px;
  border-radius: 1rem;
}

#play_button {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  padding: 10px;
  transition: all 0.3s ease;
}

#play_button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 100px;
  top: 56%;
  left: 50%;
  width: 900px;
  height: 86%;
}

#description a {
  position: absolute;
  left: 0;
  right: 0;
  text-align: left;
  font-family: "SFProDisplay";
  font-size: 16px;
  color: #000000;
}

#description a:hover {
  color: #64473f;
}

#play_button i {
  color: #ffff;
  font-size: 80px;
}

.feedback {
  background-image: url("./imgs/bg-space.jpg");
  background-size: 100% 900px;
  width: 100%;
  height: 800px;
  max-width: 100vw;
  background-repeat: no-repeat;
  position: relative;
  padding: 5rem 0;
  z-index: 2;
}

.feedback::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("imgs/noise-black.png");
  background-size: 600px;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none; /*Allow to click*/
}

.feedback_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.feedback_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 250px;
  gap: 30px;
}

.feedback_img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.feedback_text p {
  font-family: "SFProDisplay";
  font-size: 14px;
  color: #212529;
  text-align: center;
}

.feedback_content h5 {
  font-size: 20px;
  color: #212529;
  text-align: center;
}

.feedback_dots {
  position: fixed;
  top: 110%;
  transform: translateX(-50%);
  cursor: pointer;
}

button.feedback_switch {
  cursor: pointer;
}

.footer {
  background-color: #64473f;
  color: #ffff;
  min-width: 100vw;
  width: 100%;
  font-family: "SFProDisplay";
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
}

.footer_container {
  display: flex;
  flex-direction: column;
  margin: 0 250px;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.footer_content {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.footer_content span {
  font-size: 16px;
  line-height: 1.5;
}

.footer_content h2 {
  font-size: 32px;
  color: #dfc5ab;
  font-family: "SFProDisplayHeavy";
  font-weight: 900;
  padding-bottom: 8px;
}

.footer_content h3 {
  font-size: 24px;
  color: #dfc5ab;
  font-family: "SFProDisplayHeavy";
  font-weight: 900;
  margin-bottom: 8px;
}

.footer_bottom a {
  color: #ffff;
  text-decoration: none;
}

.footer_bottom a:hover {
  color: #dfc5ab;
  text-decoration: none;
}

.social-icons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.social-icons a {
  margin: 0 5px;
  background-color: #ffff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.social-icons i {
  font-size: 24px;
  color: #64473f;
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.social-icons a:hover {
  background-color: #ddc5a5;
}
.footer .footer_bottom {
  margin-top: 20px;
  border-top: 1px solid #8a6754;
  padding-top: 10px;
}

/*laptop*/
@media screen and (max-width: 1366px) {
  .nav_container {
    justify-content: space-around;
    gap: 0;
  }
  .about-content {
    justify-content: space-around;
    padding: 0 10px;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

/*tablet*/
@media screen and (max-width: 960px) {
  body {
    overflow-x: hidden;
  }
  .nav_container {
    display: none;
  }
  .wrapped_nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapped_nav img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapped_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .wrapped_container a,
  i {
    font-size: 28px;
    text-decoration: none;
    color: rgb(221, 197, 165);
    cursor: pointer;
  }

  .nav_link {
    display: none;
    width: 100%;
    height: max-content;
    background: rgb(110, 69, 59);
    z-index: 3;
    position: absolute;
    top: 55px;
    padding: 10px;
  }
  .nav_items {
    justify-content: flex-start;
    border-top: 0.5px solid #ddc5a5;
    padding: 10px 0;
  }
  .nav_items input {
    color: rgb(110, 69, 59);
    width: 100%;
    padding: 6px 12px;
    background-color: rgb(223, 197, 171);
    border: 0;
    border-radius: 6px;
    outline: none;
    font-family: "SFProDisplay", sans-serif;
    font-size: 16px;
  }
  .nav_items input::placeholder {
    border: none;
    color: #855e51;
    font-weight: 100;
  }
  .about-us {
    padding: 10px 0;
  }

  .about-content {
    flex-direction: column-reverse;
  }

  .about-img {
    width: 100%;
  }

  .cuisine-content {
    padding: 0 10px;
  }

  .media_img {
    width: 100%;
    padding: 0 10px;
  }
  #description a {
    padding: 0 10px;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/*mobile*/
@media screen and (max-width: 480px) {
  .cuisine-content {
    flex-wrap: wrap;
  }
  .cuisine-item {
    width: 40%;
  }
  .about-img-slider {
    height: 50%;
  }
}
